UNIDAD 1/00_SOA_SIN_BDD/001. SOAP_DOTNET_CONUNI_GR10/02. CLICON/ClienteConsola_SOAP/ClienteConsola_SOAP/Connected Services/ConversionService/ConversionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ConversionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ConversionUnidades_SOAP/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ConversionUnidades_SOAP/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConversionService_CentimetersToFeet_InputMessage">
    <wsdl:part name="parameters" element="tns:CentimetersToFeet" />
  </wsdl:message>
  <wsdl:message name="IConversionService_CentimetersToFeet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CentimetersToFeetResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_FeetToCentimeters_InputMessage">
    <wsdl:part name="parameters" element="tns:FeetToCentimeters" />
  </wsdl:message>
  <wsdl:message name="IConversionService_FeetToCentimeters_OutputMessage">
    <wsdl:part name="parameters" element="tns:FeetToCentimetersResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_MetersToYards_InputMessage">
    <wsdl:part name="parameters" element="tns:MetersToYards" />
  </wsdl:message>
  <wsdl:message name="IConversionService_MetersToYards_OutputMessage">
    <wsdl:part name="parameters" element="tns:MetersToYardsResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_YardsToMeters_InputMessage">
    <wsdl:part name="parameters" element="tns:YardsToMeters" />
  </wsdl:message>
  <wsdl:message name="IConversionService_YardsToMeters_OutputMessage">
    <wsdl:part name="parameters" element="tns:YardsToMetersResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_InchesToCentimeters_InputMessage">
    <wsdl:part name="parameters" element="tns:InchesToCentimeters" />
  </wsdl:message>
  <wsdl:message name="IConversionService_InchesToCentimeters_OutputMessage">
    <wsdl:part name="parameters" element="tns:InchesToCentimetersResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_CentimetersToInches_InputMessage">
    <wsdl:part name="parameters" element="tns:CentimetersToInches" />
  </wsdl:message>
  <wsdl:message name="IConversionService_CentimetersToInches_OutputMessage">
    <wsdl:part name="parameters" element="tns:CentimetersToInchesResponse" />
  </wsdl:message>
  <wsdl:portType name="IConversionService">
    <wsdl:operation name="CentimetersToFeet">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/CentimetersToFeet" message="tns:IConversionService_CentimetersToFeet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/CentimetersToFeetResponse" message="tns:IConversionService_CentimetersToFeet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FeetToCentimeters">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/FeetToCentimeters" message="tns:IConversionService_FeetToCentimeters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/FeetToCentimetersResponse" message="tns:IConversionService_FeetToCentimeters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MetersToYards">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/MetersToYards" message="tns:IConversionService_MetersToYards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/MetersToYardsResponse" message="tns:IConversionService_MetersToYards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="YardsToMeters">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/YardsToMeters" message="tns:IConversionService_YardsToMeters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/YardsToMetersResponse" message="tns:IConversionService_YardsToMeters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InchesToCentimeters">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/InchesToCentimeters" message="tns:IConversionService_InchesToCentimeters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/InchesToCentimetersResponse" message="tns:IConversionService_InchesToCentimeters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CentimetersToInches">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/CentimetersToInches" message="tns:IConversionService_CentimetersToInches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/CentimetersToInchesResponse" message="tns:IConversionService_CentimetersToInches_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConversionService" type="tns:IConversionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CentimetersToFeet">
      <soap:operation soapAction="http://tempuri.org/IConversionService/CentimetersToFeet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeetToCentimeters">
      <soap:operation soapAction="http://tempuri.org/IConversionService/FeetToCentimeters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MetersToYards">
      <soap:operation soapAction="http://tempuri.org/IConversionService/MetersToYards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YardsToMeters">
      <soap:operation soapAction="http://tempuri.org/IConversionService/YardsToMeters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InchesToCentimeters">
      <soap:operation soapAction="http://tempuri.org/IConversionService/InchesToCentimeters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CentimetersToInches">
      <soap:operation soapAction="http://tempuri.org/IConversionService/CentimetersToInches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConversionService">
    <wsdl:port name="BasicHttpBinding_IConversionService" binding="tns:BasicHttpBinding_IConversionService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ConversionUnidades_SOAP/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>