UNIDAD 1/00_SOA_SIN_BDD/00. SOAP_JAVA_CONUNI_GR10/02. CLICON/CONUNI_CLIENTE_CONSOLA_GR10/xml-resources/web-service-references/CONUNI/wsdl/localhost_8080/CONUNI_GR10/CONUNI.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controlador.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controlador.monster.edu.ec/" name="CONUNI">
<types>
<xsd:schema>
<xsd:import namespace="http://controlador.monster.edu.ec/" schemaLocation="http://localhost:8080/CONUNI_GR10/CONUNI?xsd=1"/>
</xsd:schema>
</types>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="pulgadasACentimetros">
<part name="parameters" element="tns:pulgadasACentimetros"/>
</message>
<message name="pulgadasACentimetrosResponse">
<part name="parameters" element="tns:pulgadasACentimetrosResponse"/>
</message>
<message name="centimetrosAPulgadas">
<part name="parameters" element="tns:centimetrosAPulgadas"/>
</message>
<message name="centimetrosAPulgadasResponse">
<part name="parameters" element="tns:centimetrosAPulgadasResponse"/>
</message>
<portType name="CONUNI">
<operation name="suma">
<input wsam:Action="http://controlador.monster.edu.ec/CONUNI/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://controlador.monster.edu.ec/CONUNI/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://controlador.monster.edu.ec/CONUNI/loginRequest" message="tns:login"/>
<output wsam:Action="http://controlador.monster.edu.ec/CONUNI/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="pulgadasACentimetros">
<input wsam:Action="http://controlador.monster.edu.ec/CONUNI/pulgadasACentimetrosRequest" message="tns:pulgadasACentimetros"/>
<output wsam:Action="http://controlador.monster.edu.ec/CONUNI/pulgadasACentimetrosResponse" message="tns:pulgadasACentimetrosResponse"/>
</operation>
<operation name="centimetrosAPulgadas">
<input wsam:Action="http://controlador.monster.edu.ec/CONUNI/centimetrosAPulgadasRequest" message="tns:centimetrosAPulgadas"/>
<output wsam:Action="http://controlador.monster.edu.ec/CONUNI/centimetrosAPulgadasResponse" message="tns:centimetrosAPulgadasResponse"/>
</operation>
</portType>
<binding name="CONUNIPortBinding" type="tns:CONUNI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pulgadasACentimetros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="centimetrosAPulgadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CONUNI">
<port name="CONUNIPort" binding="tns:CONUNIPortBinding">
<soap:address location="http://localhost:8080/CONUNI_GR10/CONUNI"/>
</port>
</service>
</definitions>