UNIDAD 1/01_SOA_CON_BDD/00. SOAP_JAVA_EUREKABANK_GR10/02. CLIESC/EUREKABANK_CLIESC_GR10/src/META-INF/wsdl/localhost_8080/EUREKABANK_GR10/WSEureka.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controlador.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controlador.monster.edu.ec/" name="WSEureka">
<types>
<xsd:schema>
<xsd:import namespace="http://controlador.monster.edu.ec/" schemaLocation="http://localhost:8080/EUREKABANK_GR10/WSEureka?xsd=1"/>
</xsd:schema>
</types>
<message name="iniciarSesion">
<part name="parameters" element="tns:iniciarSesion"/>
</message>
<message name="iniciarSesionResponse">
<part name="parameters" element="tns:iniciarSesionResponse"/>
</message>
<message name="realizarTransferencia">
<part name="parameters" element="tns:realizarTransferencia"/>
</message>
<message name="realizarTransferenciaResponse">
<part name="parameters" element="tns:realizarTransferenciaResponse"/>
</message>
<message name="obtenerCostoMovimiento">
<part name="parameters" element="tns:obtenerCostoMovimiento"/>
</message>
<message name="obtenerCostoMovimientoResponse">
<part name="parameters" element="tns:obtenerCostoMovimientoResponse"/>
</message>
<message name="leerMovimientos">
<part name="parameters" element="tns:leerMovimientos"/>
</message>
<message name="leerMovimientosResponse">
<part name="parameters" element="tns:leerMovimientosResponse"/>
</message>
<message name="registrarDeposito">
<part name="parameters" element="tns:registrarDeposito"/>
</message>
<message name="registrarDepositoResponse">
<part name="parameters" element="tns:registrarDepositoResponse"/>
</message>
<message name="verificarSaldo">
<part name="parameters" element="tns:verificarSaldo"/>
</message>
<message name="verificarSaldoResponse">
<part name="parameters" element="tns:verificarSaldoResponse"/>
</message>
<message name="registrarRetiro">
<part name="parameters" element="tns:registrarRetiro"/>
</message>
<message name="registrarRetiroResponse">
<part name="parameters" element="tns:registrarRetiroResponse"/>
</message>
<portType name="WSEureka">
<operation name="iniciarSesion">
<input wsam:Action="http://controlador.monster.edu.ec/WSEureka/iniciarSesionRequest" message="tns:iniciarSesion"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSEureka/iniciarSesionResponse" message="tns:iniciarSesionResponse"/>
</operation>
<operation name="realizarTransferencia">
<input wsam:Action="http://controlador.monster.edu.ec/WSEureka/realizarTransferenciaRequest" message="tns:realizarTransferencia"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSEureka/realizarTransferenciaResponse" message="tns:realizarTransferenciaResponse"/>
</operation>
<operation name="obtenerCostoMovimiento">
<input wsam:Action="http://controlador.monster.edu.ec/WSEureka/obtenerCostoMovimientoRequest" message="tns:obtenerCostoMovimiento"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSEureka/obtenerCostoMovimientoResponse" message="tns:obtenerCostoMovimientoResponse"/>
</operation>
<operation name="leerMovimientos">
<input wsam:Action="http://controlador.monster.edu.ec/WSEureka/leerMovimientosRequest" message="tns:leerMovimientos"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSEureka/leerMovimientosResponse" message="tns:leerMovimientosResponse"/>
</operation>
<operation name="registrarDeposito">
<input wsam:Action="http://controlador.monster.edu.ec/WSEureka/registrarDepositoRequest" message="tns:registrarDeposito"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSEureka/registrarDepositoResponse" message="tns:registrarDepositoResponse"/>
</operation>
<operation name="verificarSaldo">
<input wsam:Action="http://controlador.monster.edu.ec/WSEureka/verificarSaldoRequest" message="tns:verificarSaldo"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSEureka/verificarSaldoResponse" message="tns:verificarSaldoResponse"/>
</operation>
<operation name="registrarRetiro">
<input wsam:Action="http://controlador.monster.edu.ec/WSEureka/registrarRetiroRequest" message="tns:registrarRetiro"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSEureka/registrarRetiroResponse" message="tns:registrarRetiroResponse"/>
</operation>
</portType>
<binding name="WSEurekaPortBinding" type="tns:WSEureka">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="iniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realizarTransferencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerCostoMovimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="leerMovimientos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarDeposito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarRetiro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSEureka">
<port name="WSEurekaPort" binding="tns:WSEurekaPortBinding">
<soap:address location="http://localhost:8080/EUREKABANK_GR10/WSEureka"/>
</port>
</service>
</definitions>