UNIDAD 1/00_SOA_SIN_BDD/01_SOAP_JAVA_CONUNI_GR10/02. CLIESC/CONUNI_CLIESC_GR10/src/META-INF/wsdl/localhost_8080/CONUNI_GR10/CONUNI.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><xs:schema xmlns:tns="http://controlador.monster.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controlador.monster.edu.ec/">

<xs:element name="centimetrosAPulgadas" type="tns:centimetrosAPulgadas"/>

<xs:element name="centimetrosAPulgadasResponse" type="tns:centimetrosAPulgadasResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="pulgadasACentimetros" type="tns:pulgadasACentimetros"/>

<xs:element name="pulgadasACentimetrosResponse" type="tns:pulgadasACentimetrosResponse"/>

<xs:element name="suma" type="tns:suma"/>

<xs:element name="sumaResponse" type="tns:sumaResponse"/>

<xs:complexType name="suma">
<xs:sequence>
<xs:element name="a" type="xs:int"/>
<xs:element name="b" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pulgadasACentimetros">
<xs:sequence>
<xs:element name="pulgadas" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pulgadasACentimetrosResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="centimetrosAPulgadas">
<xs:sequence>
<xs:element name="centimetros" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="centimetrosAPulgadasResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>