UNIDAD 1/EXAMEN_EU3_GR10/VIAJECITOS_SOAP_JAVA_GR10/02. CLICON/VIAJECITOS_SOAP_CLICON_GR10/src/META-INF/wsdl/localhost_8080/VIAJECITOS_SOAP_GR10/WSAerolineasCondor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controlador.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controlador.monster.edu.ec/" name="WSAerolineasCondor">
<types>
<xsd:schema>
<xsd:import namespace="http://controlador.monster.edu.ec/" schemaLocation="http://localhost:8080/VIAJECITOS_SOAP_GR10/WSAerolineasCondor?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerVueloMasCaro">
<part name="parameters" element="tns:obtenerVueloMasCaro"/>
</message>
<message name="obtenerVueloMasCaroResponse">
<part name="parameters" element="tns:obtenerVueloMasCaroResponse"/>
</message>
<message name="iniciarSesion">
<part name="parameters" element="tns:iniciarSesion"/>
</message>
<message name="iniciarSesionResponse">
<part name="parameters" element="tns:iniciarSesionResponse"/>
</message>
<message name="obtenerComprasCliente">
<part name="parameters" element="tns:obtenerComprasCliente"/>
</message>
<message name="obtenerComprasClienteResponse">
<part name="parameters" element="tns:obtenerComprasClienteResponse"/>
</message>
<message name="buscarVuelos">
<part name="parameters" element="tns:buscarVuelos"/>
</message>
<message name="buscarVuelosResponse">
<part name="parameters" element="tns:buscarVuelosResponse"/>
</message>
<message name="registrarUsuario">
<part name="parameters" element="tns:registrarUsuario"/>
</message>
<message name="registrarUsuarioResponse">
<part name="parameters" element="tns:registrarUsuarioResponse"/>
</message>
<message name="registrarCompra">
<part name="parameters" element="tns:registrarCompra"/>
</message>
<message name="registrarCompraResponse">
<part name="parameters" element="tns:registrarCompraResponse"/>
</message>
<message name="registrarCliente">
<part name="parameters" element="tns:registrarCliente"/>
</message>
<message name="registrarClienteResponse">
<part name="parameters" element="tns:registrarClienteResponse"/>
</message>
<portType name="WSAerolineasCondor">
<operation name="obtenerVueloMasCaro">
<input wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/obtenerVueloMasCaroRequest" message="tns:obtenerVueloMasCaro"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/obtenerVueloMasCaroResponse" message="tns:obtenerVueloMasCaroResponse"/>
</operation>
<operation name="iniciarSesion">
<input wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/iniciarSesionRequest" message="tns:iniciarSesion"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/iniciarSesionResponse" message="tns:iniciarSesionResponse"/>
</operation>
<operation name="obtenerComprasCliente">
<input wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/obtenerComprasClienteRequest" message="tns:obtenerComprasCliente"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/obtenerComprasClienteResponse" message="tns:obtenerComprasClienteResponse"/>
</operation>
<operation name="buscarVuelos">
<input wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/buscarVuelosRequest" message="tns:buscarVuelos"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/buscarVuelosResponse" message="tns:buscarVuelosResponse"/>
</operation>
<operation name="registrarUsuario">
<input wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/registrarUsuarioRequest" message="tns:registrarUsuario"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/registrarUsuarioResponse" message="tns:registrarUsuarioResponse"/>
</operation>
<operation name="registrarCompra">
<input wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/registrarCompraRequest" message="tns:registrarCompra"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/registrarCompraResponse" message="tns:registrarCompraResponse"/>
</operation>
<operation name="registrarCliente">
<input wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/registrarClienteRequest" message="tns:registrarCliente"/>
<output wsam:Action="http://controlador.monster.edu.ec/WSAerolineasCondor/registrarClienteResponse" message="tns:registrarClienteResponse"/>
</operation>
</portType>
<binding name="WSAerolineasCondorPortBinding" type="tns:WSAerolineasCondor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerVueloMasCaro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="iniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerComprasCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarVuelos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSAerolineasCondor">
<port name="WSAerolineasCondorPort" binding="tns:WSAerolineasCondorPortBinding">
<soap:address location="http://localhost:8080/VIAJECITOS_SOAP_GR10/WSAerolineasCondor"/>
</port>
</service>
</definitions>