UNIDAD 1/00_SOA_SIN_BDD/001. SOAP_DOTNET_CONUNI_GR10/03. CLIENTE_ESCRITORIO/ClienteEscritorioSOAP/ClienteEscritorioSOAP/Connected Services/ConversionService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CentimetersToFeet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centimeters" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentimetersToFeetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CentimetersToFeetResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FeetToCentimeters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feet" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FeetToCentimetersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FeetToCentimetersResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetersToYards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meters" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetersToYardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MetersToYardsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YardsToMeters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="yards" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YardsToMetersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YardsToMetersResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InchesToCentimeters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inches" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InchesToCentimetersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InchesToCentimetersResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentimetersToInches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centimeters" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentimetersToInchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CentimetersToInchesResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>